In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data/income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df.drop([' income'], axis=1), df[' income'],
                                                           test_size=0.2, random_state=0)

In [6]:
X_train[' education'].value_counts()

 HS-grad         8450
 Some-college    5832
 Bachelors       4242
 Masters         1414
 Assoc-voc       1110
 11th             920
 Assoc-acdm       817
 10th             752
 7th-8th          526
 Prof-school      459
 9th              419
 12th             360
 Doctorate        306
 5th-6th          259
 1st-4th          139
 Preschool         43
Name:  education, dtype: int64

In [7]:
X_train[' education'].unique()

array([' 11th', ' HS-grad', ' Bachelors', ' Assoc-voc', ' Some-college',
       ' 9th', ' 10th', ' 12th', ' Doctorate', ' Prof-school', ' Masters',
       ' Assoc-acdm', ' 7th-8th', ' 5th-6th', ' Preschool', ' 1st-4th'],
      dtype=object)

In [18]:
X_train[' sex'].unique()

array([' Male', ' Female'], dtype=object)

In [26]:
gender = [' Male', ' Female']

In [9]:
edu = [' Preschool', ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' 10th',
       ' 11th', ' 12th', ' HS-grad', ' Prof-school', ' Some-college',
       ' Assoc-acdm', ' Assoc-voc',' Bachelors', ' Masters', ' Doctorate' ]

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
ordi = OrdinalEncoder(categories=[edu, gender])

In [28]:
ordi.fit(X_train[[' education', ' sex']])

OrdinalEncoder(categories=[[' Preschool', ' 1st-4th', ' 5th-6th', ' 7th-8th',
                            ' 9th', ' 10th', ' 11th', ' 12th', ' HS-grad',
                            ' Prof-school', ' Some-college', ' Assoc-acdm',
                            ' Assoc-voc', ' Bachelors', ' Masters',
                            ' Doctorate'],
                           [' Male', ' Female']])

In [29]:
X_train[[' education', ' sex']]

           education      sex
15282           11th     Male
24870        HS-grad   Female
18822      Bachelors   Female
26404        HS-grad   Female
7842       Assoc-voc     Male
4890    Some-college     Male
3243             9th     Male
17470   Some-college   Female
14211      Assoc-voc   Female
22453   Some-college   Female
631             10th   Female
29051   Some-college     Male
21478           12th     Male
26565        HS-grad     Male
25140        HS-grad     Male
15497      Doctorate     Male
14689      Assoc-voc   Female
18726   Some-college   Female
28105   Some-college     Male
6965     Prof-school     Male
4343         Masters     Male
24308   Some-college   Female
11380   Some-college   Female
26087        HS-grad     Male
5679       Bachelors     Male
13019        HS-grad   Female
24049        Masters     Male
32119   Some-college     Male
25586   Some-college     Male
26959        Masters     Male
...              ...      ...
6216       Bachelors     Male
27469   Some-college   Female
16921            9th     Male
26277        HS-grad     Male
2897            10th   Female
24152           10th     Male
18606   Some-college     Male
10327    Prof-school     Male
18983      Bachelors     Male
32230    Prof-school     Male
17089        HS-grad   Female
14650        Masters     Male
19852        HS-grad     Male
6744         HS-grad     Male
15832      Doctorate     Male
15430   Some-college   Female
14935        5th-6th     Male
14116        HS-grad   Female
22258           10th   Female
20757           10th     Male
24275        HS-grad     Male
9225      Assoc-acdm     Male
32103        7th-8th   Female
30403        HS-grad   Female
21243        HS-grad     Male
13123        Masters     Male
19648           10th     Male
9845    Some-college   Female
10799      Doctorate     Male
2732    Some-college     Male

[26048 rows x 2 columns]

In [30]:
pd.DataFrame(ordi.transform(X_train[[' education', ' sex']]))

          0    1
0       6.0  0.0
1       8.0  1.0
2      13.0  1.0
3       8.0  1.0
4      12.0  0.0
5      10.0  0.0
6       4.0  0.0
7      10.0  1.0
8      12.0  1.0
9      10.0  1.0
10      5.0  1.0
11     10.0  0.0
12      7.0  0.0
13      8.0  0.0
14      8.0  0.0
15     15.0  0.0
16     12.0  1.0
17     10.0  1.0
18     10.0  0.0
19      9.0  0.0
20     14.0  0.0
21     10.0  1.0
22     10.0  1.0
23      8.0  0.0
24     13.0  0.0
25      8.0  1.0
26     14.0  0.0
27     10.0  0.0
28     10.0  0.0
29     14.0  0.0
...     ...  ...
26018  13.0  0.0
26019  10.0  1.0
26020   4.0  0.0
26021   8.0  0.0
26022   5.0  1.0
26023   5.0  0.0
26024  10.0  0.0
26025   9.0  0.0
26026  13.0  0.0
26027   9.0  0.0
26028   8.0  1.0
26029  14.0  0.0
26030   8.0  0.0
26031   8.0  0.0
26032  15.0  0.0
26033  10.0  1.0
26034   2.0  0.0
26035   8.0  1.0
26036   5.0  1.0
26037   5.0  0.0
26038   8.0  0.0
26039  11.0  0.0
26040   3.0  1.0
26041   8.0  1.0
26042   8.0  0.0
26043  14.0  0.0
26044   5.0  0.0
26045  10.0  1.0
26046  15.0  0.0
26047  10.0  0.0

[26048 rows x 2 columns]

In [31]:
ordi.transform(X_test[[' education', ' sex']])

array([[10.,  1.],
       [13.,  1.],
       [11.,  0.],
       ...,
       [13.,  0.],
       [ 8.,  0.],
       [ 8.,  0.]])